@import "tailwindcss";

@theme {
  --font-sans: 'Figtree', sans-serif;
  --font-logo: 'Geom', sans-serif;
}

body {
  @apply bg-[#1b1a2b] text-gray-300 font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
